.selectioncircles {
    margin: 0;
    padding: 0;
    list-style: none;
}

.selectioncircles > li {
    display: inline-block;
}

.selectioncircles__circleoff {
    color: #c0c0c0;
}
.selectioncircles__circleon {
    color: #2d965a;
}

li > .selectioncircles__circleon,
li.is-active > .selectioncircles__circleoff {
    display: none;
}
li.is-active > .selectioncircles__circleon {
    display: inline;
}