.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul.slideshow__images {
    margin: 0 60px 0 0;
    padding: 0;
    list-style: none;
}
ul.slideshow__images > li {
    display: none;
    margin: 0;
}
ul.slideshow__images > li.is-active {
    display: block;
}
ul.slideshow__images > li > img {
    display: block;
}


.slideshow__title {
    font-size: 1.6em;
    font-weight: bold;
}


.slideshow__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
}

.slideshow__controls > .slideshow__button {
    margin: 20px 0 24px 0;
}


.slideshow__dots {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slideshow__dots > li {
    display: inline-block;
}

.slideshow__dotoff {
    color: #c0c0c0;
}
.slideshow__doton {
    color: #2d965a;
}

li > .slideshow__doton,
li.is-active > .slideshow__dotoff {
    display: none;
}
li.is-active > .slideshow__doton {
    display: inline;
}