.l-pageheader {
    padding: 50px 0;
    background: #fbf8e7;
}

.l-pageheader > .l-container {
    display: flex;
    align-items: center;
}

.l-pageheader .taskstatus {
    width: 40%;
    margin-right: 2%;
}
.l-pageheader .progressbar {
    width: 58%;
}