.selectablecard.selectablecard-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 14px;
    padding-right: 14px;
}

.selectablecard-horizontal > .selectablecard__image {
    max-width: 40px;
    margin-right: 30px;
    margin-bottom: 0;
}

.selectablecard-horizontal > .selectablecard__title {
    text-align: left;
}

.selectablecard-horizontal > .selectablecard__description {
    text-align: right;
}

.selectablecard-horizontal > .selectablecard__title,
.selectablecard-horizontal > .selectablecard__description {
    
}