.pitch {
    width: 710px;
    height: 640px;

    margin: 0;
    padding: 0;
    list-style: none;

    position: relative;
    
    background-image: url(./img/pitch.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

.l-twocolumnsmain > .pitch {
    float: right;
}

.pitch > li {
    width: 90px;
    height: 90px;

    margin: 0;
    margin-left: -45px;
    position: absolute;

    opacity: 0.4;

    background-image: url('./img/silhouette.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pitch__playerimage,
.pitch__playername {
    display: none;
}

.pitch > li.is-occupied {
    width: 130px;

    background: none;
    opacity: 1;
}
.pitch > li.is-occupied > .pitch__playerimage {
    max-width: 90px;
    display: block;
    user-select: none;
    pointer-events: none;
}
.pitch > li.is-occupied > .pitch__playername {
    width: 100%;
    padding: 6px;
    display: inline-block;

    margin-top: 0;
    margin-left: -20px;

    background: linear-gradient(to bottom, #36a4e8, #0D85D1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);

    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.3em;
    color: #ffffff;
}
.pitch > li.is-occupied[draggable=true] {
    cursor: move;
}
.pitch > li.is-occupied[draggable=true]:hover > .pitch__playername {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, lighten(#36a4e8, 3%), lighten(#0D85D1, 3%));

    position: relative;
    z-index: 9;
}
.pitch > li.is-occupied[draggable=true]:hover > .pitch__playerimage {
    position: relative;
    z-index: 1;
}

.pitch > li.is-highlighted {
    opacity: 1;
}
.pitch > li.is-occupied[draggable=true]:hover:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    box-shadow: 0px 0px 50px 50px rgba(235, 235, 14, 0.2);

    z-index: 0;
    position: absolute;
}


// ---
// Player Positioning
// ---

// Goalkeeper
.pitch > li:nth-child(1) {
    bottom: 8%;
    left: 50%;
}

// 442 / 442 (Diamond)
.pitch,
.pitch.pitch-442 > ul,
.pitch.pitch-442d {

    // Defence
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
        bottom: 28%;
    }
    // Midfield
    li:nth-child(6),
    li:nth-child(7),
    li:nth-child(8),
    li:nth-child(9) {
        bottom: 54%;
    }
    // Forward
    li:nth-child(10),
    li:nth-child(11) {
        bottom: 80%;
    }

    li:nth-child(2),    // Defender
    li:nth-child(6) {   // Midfielder
        left: 16%;
    }
    li:nth-child(3),    // Defender
    li:nth-child(7),    // Midfielder
    li:nth-child(10) {  // Forward
        left: 38%;
    }
    li:nth-child(4),    // Defender
    li:nth-child(8),    // Midfielder
    li:nth-child(11) {  // Forward
        left: 62%;
    }
    li:nth-child(5),    // Defender
    li:nth-child(9) {   // Midfielder
        left: 84%;
    }

}

// 442 (Diamond)
.pitch.pitch-442d {
    li:nth-child(7) {    // Midfielder
        bottom: 42%;
        left: 50%;
    }
    li:nth-child(8) {    // Midfielder
        bottom: 62%;
        left: 50%;
    }
}

// 541
.pitch.pitch-541 {

    // Wing Backs
    li:nth-child(2),
    li:nth-child(6) {
        bottom: 36%;
    }
    li:nth-child(6) {
        left: 86%;
    }
    // Centre Backs
    li:nth-child(3) {
        left: 30%;
    }
    li:nth-child(4) {
        left: 50%;
    }
    li:nth-child(5) {
        left: 70%;
    }
    // Wingers
    li:nth-child(7),
    li:nth-child(10) {
        bottom: 66%;
    }
    li:nth-child(7) {
        left: 16%;
    }
    li:nth-child(10) {
        left: 84%;
    }
    // Centre Mids
    li:nth-child(8) {
        left: 37%;
    }
    li:nth-child(9) {
        left: 63%;
    }
    // Forward
    li:nth-child(11) {
        left: 50%;
    }

}

// 351
.pitch.pitch-352 {

    // Back Three
    li:nth-child(2) {
        left: 30%;
    }
    li:nth-child(3) {
        left: 50%;
    }
    li:nth-child(4) {
        left: 70%;
    }
    // Wingers
    li:nth-child(5),
    li:nth-child(9) {
        bottom: 66%;
    }
    li:nth-child(5) {
        left: 16%;
    }
    li:nth-child(9) {
        left: 84%;
    }
    // Center Mids
    li:nth-child(6) {
        left: 30%;
        bottom: 52%;
    }
    li:nth-child(7) {
        left: 50%;
        bottom: 52%;
    }
    li:nth-child(8) {
        left: 70%;
        bottom: 52%;
    }

}