.pitch {
    width: 710px;
    height: 640px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(./img/pitch.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

.l-twocolumnsmain > .pitch {
    float: right;
}

.pitch > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 590px;
    height: 520px;

    position: relative;
}

.pitch > ul > li {
    width: 90px;
    height: 90px;

    margin: 0;
    margin-left: -45px;
    position: absolute;

    opacity: 0.5;

    background-image: url('./img/silhouette.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


// Goalkeeper
.pitch > ul > li:nth-child(1) {
    bottom: 0;
    left: 50%;
}


// ---
// 442 / 442 (Diamond)
// ---
.pitch > ul,
.pitch.pitch-442 > ul,
.pitch.pitch-442d > ul {

    // Defence
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
        bottom: 22%;
    }
    // Midfield
    li:nth-child(6),
    li:nth-child(7),
    li:nth-child(8),
    li:nth-child(9) {
        bottom: 52%;
    }
    // Forward
    li:nth-child(10),
    li:nth-child(11) {
        bottom: 82%;
    }

    li:nth-child(2),    // Defender
    li:nth-child(6) {   // Midfielder
        left: 14%;
    }
    li:nth-child(3),    // Defender
    li:nth-child(7),    // Midfielder
    li:nth-child(10) {  // Forward
        left: 37%;
    }
    li:nth-child(4),    // Defender
    li:nth-child(8),    // Midfielder
    li:nth-child(11) {  // Forward
        left: 63%;
    }
    li:nth-child(5),    // Defender
    li:nth-child(9) {   // Midfielder
        left: 86%;
    }

}

// ---
// 442 (Diamond)
// ---
.pitch.pitch-442d > ul {
    li:nth-child(7) {    // Midfielder
        bottom: 40%;
        left: 50%;
    }
    li:nth-child(8) {    // Midfielder
        bottom: 62%;
        left: 50%;
    }
}

// ---
// 541
// ---
.pitch.pitch-541 > ul {

    // Wing Backs
    li:nth-child(2),
    li:nth-child(6) {
        bottom: 36%;
    }
    li:nth-child(6) {
        left: 86%;
    }
    // Centre Backs
    li:nth-child(3) {
        left: 30%;
    }
    li:nth-child(4) {
        left: 50%;
    }
    li:nth-child(5) {
        left: 70%;
    }
    // Wingers
    li:nth-child(7),
    li:nth-child(10) {
        bottom: 66%;
    }
    li:nth-child(7) {
        left: 14%;
    }
    li:nth-child(10) {
        left: 86%;
    }
    // Centre Mids
    li:nth-child(8) {
        left: 37%;
    }
    li:nth-child(9) {
        left: 63%;
    }
    // Forward
    li:nth-child(11) {
        left: 50%;
    }

}

// ---
// 351
// ---
.pitch.pitch-352 > ul {

    // Back Three
    li:nth-child(2) {
        left: 30%;
    }
    li:nth-child(3) {
        left: 50%;
    }
    li:nth-child(4) {
        left: 70%;
    }
    // Wingers
    li:nth-child(5),
    li:nth-child(9) {
        bottom: 66%;
    }
    li:nth-child(5) {
        left: 14%;
    }
    li:nth-child(9) {
        left: 86%;
    }
    // Center Mids
    li:nth-child(6) {
        left: 30%;
    }
    li:nth-child(7) {
        left: 50%;
    }
    li:nth-child(8) {
        left: 70%;
    }

}


// // Player positioning over pitch graphic for team line-up selection purposes

// .teamlineup {
//     @include span(10 of 12);
//     @include push(1 of 12);
//   }
  
//   .teamlineup--positionslot {
//     @include span(2 of 12);
//     height: 80px;
//     margin-top: 20px;
//     margin-bottom: 60px;
  
//     background: rgba(255, 255, 255, 0.5);
  
//     display: none; // Hidden when no formation specified
//   }
  
//   .teamlineup--positionslot img {
//     width: 100%;
//     height: auto;
  
//     z-index: 0;
//     position: relative;
//     display: none;
//   }
  
//   .teamlineup--playername {
//     color: #008EB3;
//     font-size: 0.7em;
//     font-weight: bold;
//     text-align: center;
//     text-transform: uppercase;
  
//     width: 100%;
//     height: 23px;
//     padding: 6px 0;
//     margin-top: -20px;
  
//     z-index: 1;
//     position: relative;
//     display: none;
  
//     background: #fbfbfb;
//     background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
//   }
  
//   .teamlineup--playername.is-hidden,
//   .teamlineup--image.is-hidden{
//     display: none;
//   }
  
//   .teamlineup--positionslot .is-occupied,
//   .teamlineup--positionslot.is-occupied {
//     img, .teamlineup--playername {
//       display: block;
//     }
//   }
  
//   .teamlineup--positionslot.is-movable .is-occupied:hover,
//   .teamlineup--positionslot.is-movable.is-occupied:hover {
//     cursor: grab;
//     cursor: -webkit-grab;
//     box-shadow: 0 0 20px #fffb33;
  
//     .teamlineup--playername {
//       color: #00a0ca;
//       background: #ffe500;;
//     }
//   }
  
  
//   // ---
//   // Common Player Spacing/Positiong
//   // ---
//   .playercentral {
//     @include span(isolate 2 at 6 of 12);
//   }
//   .playerspacing-5 {
//     @include gutter(2.1em);
//   }
//   .playerspacing-4 {
//     @include gutter(4.7em);
//   }
//   .teamlineup--positionslot:nth-child(10) { // Player before goalkeeper
//     margin-right: 0 !important; // Last
//   }
  
  
//   // ---
//   // Goalkeeper
//   // ---
//   .teamlineup--positionslot:nth-child(11) {
//     @include break;
//     @extend .playercentral;
//   }
  
  
//   // ---
//   // Formation: 4-5-1
//   // ---
//   .teamlineup-451 {
  
//     .teamlineup--positionslot {
//       display: block;
//     }
  
//     // Forward
//     .teamlineup--positionslot:first-child {
//       @extend .playercentral;
//     }
  
//     // Midfielders
//     .teamlineup--positionslot:nth-child(2) {
//       @include break;
//     }
//     .teamlineup--positionslot:nth-child(1) ~ .teamlineup--positionslot { // Set spacing for midfielders
//       @extend .playerspacing-5;
//     }
//     .teamlineup--positionslot:nth-child(6) {
//       margin-right: 0 !important; // Last
//     }
//     .teamlineup--positionslot:nth-child(2), // Push wingers forward
//     .teamlineup--positionslot:nth-child(6) {
//       margin-top: -20px;
//     }
//     .teamlineup--positionslot:nth-child(4) { // Holding midfielder
//       margin-top: 90px;
//     }
  
//     // Defenders
//     .teamlineup--positionslot:nth-child(6) ~ .teamlineup--positionslot {
//       @extend .playerspacing-4;
//       margin-top: 0;
//       margin-bottom: 35px;
//     }
//     .teamlineup--positionslot:nth-child(7) {
//       @include break;
//     }
//   }
  
  
//   // ---
//   // Formation: 4-4-2
//   // ---
//   .teamlineup-442 {
  
//     .teamlineup--positionslot {
//       display: block;
//     }
  
//     // Forwards
//     .teamlineup--positionslot:first-child {
//       @include span(isolate 2 at 4 of 12);
//     }
//     .teamlineup--positionslot:nth-child(2) {
//       @include span(isolate 2 at 8 of 12);
//     }
  
//     // Midfielders
//     .teamlineup--positionslot:nth-child(3) {
//       @include break;
//     }
//     .teamlineup--positionslot:nth-child(2) ~ .teamlineup--positionslot {
//       @extend .playerspacing-4;
//       margin-top: 30px;
//     }
//     .teamlineup--positionslot:nth-child(6) {
//       margin-right: 0 !important; // Last
//     }
  
//     // Defenders
//     .teamlineup--positionslot:nth-child(7) {
//       @include break;
//     }
//     .teamlineup--positionslot:nth-child(6) ~ .teamlineup--positionslot {
//       @extend .playerspacing-4;
//       margin-bottom: 35px;
//     }
//   }
  
  
//   // ---
//   // Formation: 3-5-2
//   // ---
//   .teamlineup-352 {
  
//     .teamlineup--positionslot {
//       display: block;
//     }
  
//     // Forwards
//     .teamlineup--positionslot:first-child {
//       @include span(isolate 2 at 4 of 12);
//     }
//     .teamlineup--positionslot:nth-child(2) {
//       @include span(isolate 2 at 8 of 12);
//     }
  
//     // Midfielders
//     .teamlineup--positionslot:nth-child(3) {
//       @include break;
//     }
//     .teamlineup--positionslot:nth-child(2) ~ .teamlineup--positionslot {
//       @extend .playerspacing-5;
//     }
//     .teamlineup--positionslot:nth-child(7) {
//       margin-right: 0 !important; // Last
//     }
//     .teamlineup--positionslot:nth-child(3), // Push wingers forward
//     .teamlineup--positionslot:nth-child(7) {
//       margin-top: -20px;
//     }
//     .teamlineup--positionslot:nth-child(5) { // Holding midfielder
//       margin-top: 90px;
//     }
  
//     // Defenders
//     .teamlineup--positionslot:nth-child(8) {
//       @include break;
//       @include span(isolate 2 at 3 of 12);
//     }
//     .teamlineup--positionslot:nth-child(7) ~ .teamlineup--positionslot {
//       @include gutter(4em);
//       margin-top: 0;
//       margin-bottom: 35px;
//     }
  
//   }
  