.slideswitcher {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.slideswitcher__images {
    margin: 0 60px 0 0;
    padding: 0;
    list-style: none;
}
ul.slideswitcher__images > li {
    display: none;
}
ul.slideswitcher__images > li.is-active {
    display: block;
}

.slideswitcher__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
}

.slideswitcher__controls > .slideswitcher__button {
    margin: 20px 0 24px 0;
}

.slideswitcher__selection {
    font-size: 1.6em;
    font-weight: bold;
}